<!DOCTYPE html>
<html>
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" id="viewport"> 
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="style_css/reset.css?v={$timestamp
}">
    <link rel="stylesheet" type="text/css" href="style_css/wealth.css?v={$timestamp
}">
    <script src="style_js/jquery-1.11.0.js" type="text/javascript"></script>
    <script type="text/javascript" src="style_js/tab.js"></script>
    <title>财富首页</title>
</head>
<body>
<div id="wrapper">
    <php>
        if( strpos($_SERVER['HTTP_USER_AGENT'], 'MicroMessenger') !== false )
        {
    </php>
    <style type="text/css">section{top: 0px;}</style>
    <php>
        }
        else
        {
    </php>
    <!-- HTML_TOP -->
    <php>
        }
    </php>
    <section>
        <div class="smile">
            <dl>
                <dt><a href="http://{$u_guid}.u.canpoint.net"><img src="{$avatar_file_url}"></a></dt>
                <dd>
                    <a href="http://{$u_guid}.u.canpoint.net">{$u_nick_name}</a>
                    <p>每天都是新开始，微笑加油哦！</p>
                </dd>
            </dl>
        </div>
        <div class="tabs">
            <ul>
                <li><a href="/money/index/index">我的财富</a></li>
                <li><a href="/order/index/index">我的订单</a></li>
                <li><a href="/payment/recharge/online">财富充值</a></li>
                <li class="wealth"     ><a  href="/change/index/index">财富兑换</a></li>
            </ul>
        </div>
        <div class="matter">
            <div class="big">
                <div class="bean">
                    <h1>兑换全品豆</h1>
                    <article>恭喜您，兑换成功！</article>
                    <div class="success">
                        <em>此次兑换共消耗全品币：<b>{$dec_rpoint}</b>元</em><br/>
                        <em>获得全品豆：<b>{$inc_qdou}</b>个</em>
                    </div>
                    <div class="next">
                        <a  href="/change/index/index" ><button>继续兑换</button></a>
                        <a href="/change/index/lists">查看兑换目录</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <php>
        if( strpos($_SERVER['HTTP_USER_AGENT'], 'MicroMessenger') !== false )
        {
    </php>
    <include file="./Template/style2/ainc.foot.weixin.html"/>
    <php>
        }
        else
        {
    </php>
    <include file="./Template/style2/ainc.foot.html"/>
    <php>
        }
    </php>

</div>
</body>
<html>
