<!DOCTYPE html>
<html>
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" id="viewport">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="style_css/reset.css?v={$timestamp}">
    <link rel="stylesheet" type="text/css" href="style_css/goods.css?v={$timestamp}">
    <script type="text/javascript" src="style_js/jquery-1.11.0.js"></script>
    <title>兑换失败</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="left"><img src="style_img/return.png"></div>
            <div class="middle">兑换失败</div>
            <div class="right"><img src="style_img/login.png"></div>
        </header>
        <section>
           <div class="change_suc" style="height:90px;">
               <h4 class="fail">对不起，您所选的商品已售罄！</h4>
           </div>
        </section>
    </div>
</body>
<html>