<!DOCTYPE html>
<html>
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" id="viewport">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="style_css/reset.css?v={$timestamp
}">
    <link rel="stylesheet" type="text/css" href="style_css/exchange.css?v={$timestamp
}">
    <script type="text/javascript" src="style_js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="style_js/Validform v5.3.2.js"></script>
    <title>确认商品</title>
    <script type="text/javascript">       
        $(function(){
          var oacChkForm = $(".payChkForm").Validform({
                tiptype: 4,                
            });
        });
    </script>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="left"><img src="style_img/return.png"></div>
            <div class="middle">实物详情</div>
            <div class="right"><img src="style_img/login.png"></div>
        </header>
        <section>
            <div class="info">
                <form action="" method="post" class="payChkForm">
                    <h3>商品清单</h3>
                    <div class="order">
                        <ul>
                            <li class="order_img"><img src="style_img/exchange/order_03.png" ></li>
                            <li class="order_name">IPhone6</li>
                            <li class="order_num"><p class="dou">1328全品豆</p><p class="num">数量：x1</p></li>
                        </ul>
                    </div>
                    <h3 class="consignee">收货人信息</h3>
                    <div class="message">
                        <div class="fm_item">
                            <label>姓名</label>
                            <span class="user_info">赵美欢</span>
                        </div>
                        <div class="fm_item">
                            <label>手机</label>
                            <span class="user_info">13011245488</span>
                        </div>
                        <div class="fm_item">
                            <label>地址</label>
                            <span class="user_info">北京市海淀区长春桥路万柳亿城中心1403</span>
                            <input type="hidden" name="province"  class="ipt_read"  value="">
                            <input type="hidden" name="city"  class="ipt_read"  value="">
                            <input type="hidden" name="address"  class="ipt_read"  value="">
                        </div>
                        <div class="fm_item">
                            <label>邮编</label>
                            <span class="user_info">100000</span>
                            <input type="hidden" name="code" class="ipt_read"  value="">
                        </div>
                        <div class="fm_item fm_sub">
                            <input type="submit" value="确定" class="sub_btn" />
                            <a href="javascript:history.go(-1);" class="update_btn">重填</a>
                        </div>
                        <br><br>
                    </div>
                </form>
            </div>
        </section>
        <footer></footer>
    </div>
</body>
<html>