<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style_css/reset.css">
<link rel="stylesheet" type="text/css" href="style_css/wealth.css">
<script src="style_js/jquery-1.11.0.js" type="text/javascript"></script>
<script type="text/javascript" src="style_js/tab.js"></script>
<title>订单详情</title>
</head>
<body>
	<div id="wrapper">
		<header>
			<div class="left"></div>
			<div class="middle">财富中心</div>
		</header>
		<section>
			<div class="smile">
				<dl>
					<dt><img src="style_img/girl_03.png"></dt>
					<dd>
						微笑天使
						<p>每天都是新开始，微笑加油哦！</p>
					</dd>
				</dl>
			</div>
			<div class="tabs">
				<ul>
					<li>我的财富</li>
					<li class="wealth">我的订单</li>
					<li>财富充值</li>
					<li>财富兑换</li>
				</ul>
			</div>
			<div class="matter">
				<div class="big">
					<div class="title">
						<h3>订单列表<span>状态提醒：代付款（1）</span></h3>
						<p>筛选<img src="style_img/chose_03.png" id="screening"></p>
					</div>
					<div class="main">
						<ul class="myul">
							<li class="myli1">订单信息</li>
							<li class="myli2">金额</li>
							<li class="myli3">操作</li>
						</ul>
					</div>
					<div class="record">
						<dl>
							<dt><img src="style_img/gan_03.png"></dt>
							<dd>暂无记录</dd>
						</dl>
					</div>
				</div>
			</div>
		</section>

	</div>
</body>
<html>
