<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style_css/reset.css">
<link rel="stylesheet" type="text/css" href="style_css/wealth.css">
<script src="style_js/jquery-1.11.0.js" type="text/javascript"></script>
<script type="text/javascript" src="style_js/tab.js"></script>
<title>充值卡充值</title>
</head>
<body>
	<div id="wrapper">
		<header>
			<div class="left"></div>
			<div class="middle">财富中心</div>
		</header>
		<section>
			<div class="smile">
				<dl>
					<dt><img src="style_img/girl_03.png"></dt>
					<dd>
						微笑天使
						<p>每天都是新开始，微笑加油哦！</p>
					</dd>
				</dl>
			</div>
			<div class="tabs">
				<ul>
					<li>我的财富</li>
					<li>我的订单</li>
					<li class="wealth">财富充值</li>
					<li>财富兑换</li>
				</ul>
			</div>
			<div class="tab_2">
				<ul>
					<li>在线充值</li>
					<li class="pay">充值卡充值</li>
				</ul>
			</div>
			<div class="matter">
				<div class="big">
					<div class="number">
						<p>充值账号：<input type="text" placeholder="1101417699@qq.com"></p>
						<p>学 习 卡： <input type="text" class="text"></p>
						<p class="btn">
							<button class="sure">确定</button>
							<button class="cancel">取消</button><br>
							<a href="">查看充值记录</a>
						</p>
						<h2>充值说明</h2>
						<span>1.学习卡号+密码：在学习卡信息框内直接输入15位卡号和8位密码，中间无空格，区分大小写<br>
							例如：2020014026022106D3W5Q2F
						</span>
						<span>2.纯数字密码，在学习卡信息框内直接输入12位的纯数字密码<br>
							例如：988983294159
						</span>
					</div>
				</div>
			</div>
		</section>

	</div>
</body>
<html>
