<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style_css/reset.css">
<link rel="stylesheet" type="text/css" href="style_css/wealth.css">
<script src="style_js/jquery-1.11.0.js" type="text/javascript"></script>
<script type="text/javascript" src="style_js/tab.js"></script>
<title>财富首页</title>
</head>
<body>
	<div id="wrapper">
		<header>
			<div class="left"></div>
			<div class="middle">财富中心</div>
		</header>
		<section>
			<div class="smile">
				<dl>
					<dt><img src="style_img/girl_03.png"></dt>
					<dd>
						微笑天使
						<p>每天都是新开始，微笑加油哦！</p>
					</dd>
				</dl>
			</div>
			<div class="tabs">
				<ul>
					<li class="wealth">我的财富</li>
					<li>我的订单</li>
					<li>财富充值</li>
					<li>财富兑换</li>
				</ul>
			</div>
			<div class="matter">
				<div class="big">
					<div class="change">
						<h1>财富总览</h1>
						<dl>
							<dt><img src="style_img/gloab_05.png"></dt>
							<dd>
								全金币<br>
								<b>567.00</b>
								<p><button>充值</button><a href="">详情</a></p>
							</dd>
						</dl>
						<dl>
							<dt><img src="style_img/bean_07.png"></dt>
							<dd>
								全品豆<br>
								<b>20000000</b>
								<p><a href="">兑换</a><a href="">详情</a></p>
							</dd>
						</dl>
						<div style="clear:both;"></div>
						<dl>
							<dt><img src="style_img/roll_11.png"></dt>
							<dd>
								兑换劵<br>
								<b>300.00</b>
								<p><button>充值</button><a href="">详情</a></p>
							</dd>
						</dl>
						<dl>
							<dd>
								<span>财富有什么用?</span>
							</dd>
						</dl>
					</div>
					<div class="about">
						<h1>相关动态</h1>
						<dl>
							<dt><img src="style_img/ch_14.png"></dt>
							<dd>充值记录</dd>
						</dl>
						<dl>
							<dt><img src="style_img/exchange_16.png"></dt>
							<dd>兑换记录</dd>
						</dl>
						<dl>
							<dt><img src="style_img/order_14.png"></dt>
							<dd class="dd">我的订单</dd>
						</dl>
						<h2>温馨提示</h2>
						<p>1.全品币通过全品币学习卡充值或在线充值获得</p>
						<p>2.全品劵通过全品劵学习卡充值获得</p>
						<p>3.关于以上三种财富的详细介绍请到帮助中子查看<a href="">去了解</a></p>
					</div>
				</div>
				<!-- <div class="big">
					<div class="bean">
						<h1>兑换全品豆</h1>
						<p class="cost">花费全品币</p>
						<p>
							<input type="text" placeholder="请输入要兑换的全品币数额"><br>
							<span>你有全品币<b>0.00</b>元，可兑换全品豆<b>0</b>个</span>
						<p>
						<p class="get">获得金品豆<b>0</b>个</p>
						<div class="next">
							<button>下一步</button>
							<a>查看兑换目录</a>
						</div>
						<div class="line"></div>
						<div class="tip">
							<h2>温馨提示</h2>
							<p>1.全品豆只能通过全品币兑换1全品币=100全品豆</p>
							<p>2.每年可兑换的全品豆上限为20000个</p>
						</div>
					</div>
				</div> -->
			</div>
		</section>

	</div>
</body>
<html>
