<div class="footer">
    <div class="fmessage">
        <dl>
            <dt>关于我们</dt>
            <dd><a href="http://help.canpoint.net/service/about/about">全品文化</a></dd>
            <dd><a href="http://help.canpoint.net/service/about/index">全品学堂</a></dd>
            <dd><a href="http://help.canpoint.net/service/about/wk">全品微课</a></dd>
            <dd><a href="http://help.canpoint.net/service/about/wk#zb">全品直播课</a></dd>
            <dd><a href="http://app.canpoint.net/down" target="_blank">全品问吧</a></dd>
            <dd><a href="http://help.canpoint.net/service/news/index" target="_blank">全品资讯</a></dd>
        </dl>
        <dl>
            <dt>在线支付</dt>
            <dd><a href="http://my.canpoint.net/User/Shop/chongzhi1.html">全品币充值</a></dd>
            <dd><a href="http://my.canpoint.net/User/Shop/chongzhi.html">全品券充值</a></dd>
        </dl>
        <dl>
            <dt>帮助中心</dt>
            <dd><a href="http://help.canpoint.net/">注册登录</a></dd>
            <dd><a href="http://help.canpoint.net/home/faq/6.html">虚拟财富</a></dd>
            <dd><a href="http://help.canpoint.net/home/faq/12.html">图书购买</a></dd>
            <dd><a href="http://help.canpoint.net/service/agree/agree">服务协议</a></dd>
        </dl>
        <dl>
            <dt>媒体报道</dt>
            <dd><a href="http://edu.sina.com.cn/l/2015-01-09/1549256468.shtml" target="_blank">新浪</a></dd>
            <dd><a href="http://news.xinhuanet.com/edu/2015-01/09/c_127372953.htm" target="_blank">新华网</a></dd>
            <dd><a href="http://edu.ce.cn/zg/201501/09/t20150109_2241669.shtml" target="_blank">中国经济网</a></dd>
            <dd><a href="http://help.canpoint.net/service/about/media" target="_blank">更多...</a></dd>
        </dl>
        <dl>
            <dt>联系我们</dt>
            <dd><a href="http://help.canpoint.net/service/about/about#name1">公司总部</a></dd>
            <dd><a href="http://help.canpoint.net/service/about/about#name1">市场合作</a></dd>
            <dd><a href="http://help.canpoint.net/service/news/index?id=730">加入我们</a></dd>
            <dd><a href="http://e.canpoint.net/index/index/opinion">意见反馈</a></dd>
        </dl>
        <ul>
            <li class="scanning"></li>
            <li style="margin-left:35px;">
                <!-- <a href="#" class="relation"><i class="i1"></i>在线客服</a>
                <a href="http://e.canpoint.net/index/index/opinion" class="relation"><i class="i2"></i>意见反馈</a>-->
                <p class="QQ"><i class="i3"></i>全品学堂-小学群 491218330</p>
                <p class="QQ"><i class="i3"></i>全品学堂-初一群 335841173</p>
                <p class="QQ"><i class="i3"></i>全品学堂-初二群 426432719</p>
                <p class="QQ"><i class="i3"></i>全品学堂-初三群 277466083</p>
                <p class="QQ"><i class="i3"></i>全品学堂-高中群 243905326</p>
                <p class="QQ"><i class="i3"></i>全品学堂-高考群 345513626</p>
                <p class="QQ"><i class="i3"></i>全品学堂家长咨询群 298653681 </p>
                <p class="QQ" style="color: #fff;">网站客服电话：400-865-2166</p>
            </li>
        </ul>
    </div>
    <div class="footer-msg">
        <div class="navigation">
            <div class="navtion_a">
                <a href="http://www.canpoint.cn/" target="_blank" style="padding-left:0px;">全品教学网</a>
                <a href="http://zk.canpoint.cn/" target="_blank">全品中考网</a>
                <a href="http://gk.canpoint.cn/" target="_blank">全品高考网</a>
                <a href="http://quanpints.tmall.com/shop/view_shop.htm"  target="_blank" style="border-right:0;">全品图书商城</a>
            </div>
        </div>
        <div class="copyright">
            <div class="champoin">
                <p>Copyright &copy; 2010-2015北京全品文教科技股份有限公司canpoint.net. All rights reserved. 京ICP备15050178号-2</p>
            </div>
        </div>
    </div>
</div>
<div style="display:none;">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F16e42eb8238c0a0bc831002e9a3a1a6a' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script src="http://s4.cnzz.com/z_stat.php?id=1254034781&web_id=1254034781 " type="text/javascript" ></script> 
</div>

<if condition="($u_guid neq '' ) ">
    <script>
        var u_guid = "{$u_guid}", u_nickname="{$u_nickname}", avatar_file_url="{$avatar_file_url}";
    </script>
    <!-- ws socket  -->
    <!--<link href="http://100136756.u.canpoint.net/Template/style1/style_im/css/layim1.css" type="text/css" rel="stylesheet"/>
    <link href="http://100136756.u.canpoint.net/Template/style1/style_im/css/smohan.face.css" type="text/css" rel="stylesheet"/>

    <!-- socket -->
    <!--<script type="text/javascript" src="http://100136756.u.canpoint.net/Template/style1/style_im/ws/swfobject.js"></script>
    <script type="text/javascript" src="http://100136756.u.canpoint.net/Template/style1/style_im/ws/web_socket.js"></script>-->

    <!-- layer -->
    <!--<script src="http://100136756.u.canpoint.net/Template/style1/style_im/lay/layer/layer.js"></script>
    <script src="http://100136756.u.canpoint.net/Template/style1/style_im/lay/layim.js"></script>-->
</if>
