<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>我的订单_全品学堂</title>
        <meta name="keywords" content="全品学堂，全品问吧，中小学在线学习平台,全品，全品教学网,全品高考网,全品中考网"/>
    	<meta name="description" content="全品学堂是中小学数字化学习平台，产品有微课、直播课、全品问吧、学社、班嗨、动漫教室等，涵盖了小学三年级至高三年级的主要课程，是中国在线教育的生力军。-全品学堂"/>
        <link  type="text/css" rel="stylesheet" href="style_css/v4_pay.css" />
        <script type="text/javascript" src="http://e.canpoint.net/style_js/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="http://e.canpoint.net/style_js/Validform v5.3.2.js"></script>
        <script type="text/javascript" src="style_js/v4_scroll.js"></script>
        <script type="text/javascript" src="style_js/v4_pay.js"></script>
        <script type="text/javascript">
            var scrollNum = 4;
        </script>
    </head>
    <body>
        <!-- 遮罩层开始 -->
        <div id="cover"></div>
        <!-- 遮罩层结束 -->

        <!-- 顶部区域开始 -->
        <!-- HTML_TOP -->

        <div class="position">
            <i class="cur_icon"></i>
            <span>财富中心</span> &gt;
            <span class="pos_small">我的订单</span>
        </div>
        <div id="container">
            <div class="pay_left_side">
                <div class="user_info">
                    <a target="_blank" href="http://{$u_guid}.u.canpoint.net">
                        <img src="{$u_user_img}">
                        <span>{$u_nick_name}</span>
                    </a>
                    <p>每天都是新开始，微笑加油哦！</p>
                </div>
                <ul>
                    <li><a href="/money/index/index" class="pay"><i class="pay_icon"></i>我的财富 <i class="arrow"></i></a></li>
                    <li><a href="/order/index/index" class="order crt_pay"><i class="pay_icon"></i>我的订单<i class="arrow"></i></a></li>
                    <li><a href="/payment/recharge/online" class="recharge"><i class="pay_icon"></i>财富充值<i class="arrow"></i></a></li>
                    <li><a href="/change/index/index" class="exchange"><i class="pay_icon"></i>财富兑换<i class="arrow"></i></a></li>
                    <li><a href="/cash/index/index" class="coupons"><i class="pay_icon"></i>我的优惠券<i class="arrow"></i></a></li>
                </ul>
            </div>
            <div class="pay_right_side">
                <div class="order_lst">
                    <h2 class="order_tt">订单列表</h2>
                    <div class="order_status">
                        <div class="order_status_l">
                            状态提醒：待付款（<span>{$nopay}</span>）
                        </div>
                        <div class="order_status_r">
                            <form action="/order/index/index" method="post">
                                <input type="text" name="key" class="ipt sch_ipt" placeholder="订单编号">
                                <input type="submit" value=" " class="sch_btn">
                            </form>
                            <a href="/order/index/recycle" class="recycle_btn">
                                订单回收站
                            </a>
                        </div>
                    </div>
                    <div class="pay_tb">
                        <table>
                            <thead>
                                <tr>
                                    <th width="143">订单编号</th>
                                    <th width="275">订单信息</th>
                                    <th width="130">金额</th>
                                    <th width="140">
                                        <select name="buytime" class="fm_sel time_sel">
                                            <option value="/order/index/index?ttype=1" <if condition="$ttype eq 1">selected </if> >最近一个月</option>
                                            <option value="/order/index/index?ttype=2" <if condition="$ttype eq 2">selected </if>>最近三个月</option>
                                            <option value="/order/index/index?ttype=3" <if condition="$ttype eq 3">selected </if>>最近六个月</option>
                                            <!-- <option value="/order/index/index?ttype=4" <if condition="$ttype eq 4">selected </if>>{$Date_Y1}</option>
                                            <option value="/order/index/index?ttype=5" <if condition="$ttype eq 5">selected </if>>{$Date_Y2}</option> -->
                                        </select>
                                    </th>
                                    <th width="110">
                                        <select name="status" class="fm_sel status_sel">
                                            <option value="/order/index/index">全部状态</option>
                                            <option value="/order/index/index?stype=2" <if condition="$stype eq 2">selected </if> >已完成</option>
                                            <option value="/order/index/index?stype=1" <if condition="$stype eq 1">selected </if>>未付款</option>
                                            <option value="/order/index/index?stype=3" <if condition="$stype eq 3">selected </if> >已取消</option>
                                        </select>
                                    </th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <volist name="list" id="vo">
                                <?php if($vo['isEc']==4){ ?>
                                <tr>
                                    <td>{$vo['order_num']}</td>
                                    <td><a href="/order/index/detail?id=<?php echo $vo['id'];?>" class="video_link">{$vo['order_name']}</a></td>
                                    <td>{$vo['order_dou']}(豆)</td>
                                    <td><span class="buytime" >{$vo['order_time_create']}</span></td>
                                    <td>
                                <if condition="$vo['order_status'] eq 1">
                                    <span class="nopay_btn" >未付款</span>
                                    <elseif condition="$vo['order_status'] eq 2"/>
                                    <span class="finish_btn" >已完成</span>
                                    <elseif condition="$vo['order_status'] eq 3"/>
                                    <span class="cancel_btn" >已取消</span>
                                </if>
                                </td>
                                <td>
                                    <a href="/order/index/detail?id={$vo['id']}" class="check_btn">查看</a>
                                <if condition="($vo['order_status'] neq 2)">
                                    <a href="javascript:void(0);" class="delete_btn" onclick="deleteOrder('/order/index/delbill?id={$vo[id]}');">删除</a>
                                </if>
                                </td>
                                </tr>
                                <?php }else{ ?>
                                <tr>
                                    <td>{$vo['order_num']}</td>
                                    <td><a href="/order/index/detail?id={$vo['id']}" class="video_link">
                                            <if condition="$vo['isEc'] eq 5">
                                            <i class="pay_icon shop_icon"></i>
                                            <else />
                                            <i class="pay_icon"></i>
                                            </if>
                                            {$vo['order_name']}</a></td>
                                    <td>{$vo['order_price']}(元)</td>
                                    <td><span class="buytime" >{$vo['order_time_create']}</span></td>
                                    <td>
                                <if condition="$vo['order_status'] eq 1">
                                    <span class="nopay_btn" >未付款</span>
                                    <elseif condition="$vo['order_status'] eq 2"/>
                                    <span class="finish_btn" >已完成</span>
                                    <elseif condition="$vo['order_status'] eq 3"/>
                                    <span class="cancel_btn" >已取消</span>
                                </if>
                                </td>
                                <td>
                                    <a href="/order/index/detail?id={$vo['id']}" class="check_btn">查看</a>
                                <if condition="($vo['order_status'] eq 2)">
<!--                                    <a href="http://my.canpoint.net/Userv2/Course/InBuyClass">去学习</a>-->
                                    <else />
                                    <a href="javascript:void(0);" class="delete_btn" onclick="deleteOrder('/order/index/delbill?id={$vo[id]}');">删除</a>
                                </if>
                                </td>
                                </tr>
                                <?php }?>
                            </volist>
                            </tbody>
                        </table>
                        <div class="page" style="margin-bottom:10px;">

                            <if condition="$page neq ''">
                                <div class="pagelist">
                                    {$page}
                                </div>
                                <else />
                                <!-- 无记录时的状态 -->
                                <div class="noresult">
                                    <img src="style_img/v4_img/noresult.png">
                                    <p>暂无记录</p>
                                </div> 
                            </if>
                        </div>
                        <div class="tips_pos">
                            <!-- 提示框 -->
                            <div class="tips">
                                <div class="tips_top">提示<span class="close">×</span></div>
                                <div class="tips_con">
                                    <div class="tips_con_icon"></div>
                                    <div class="tips_con_r">
                                        <h4>您确定要删除该订单吗？</h4>
                                        <p>该订单删除后，请到订单回收站里查看。</p>
                                    </div>
                                </div>
                                <div class="tips_ft">
                                    <input type="button" value="取消"class="btn close">
                                    <input type="button" value="确定" class="btn sub_btn">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="like_video">
                    <div class="video_tt"><h3 class="tt">猜你喜欢</h3></div>
                    <div class="tab_btn">
                        <!--                        <a href="1" class="crt">语文</a> /
                                                <a href="2">数学</a> /-->
                        <foreach name='cate2' item='vo' key='k'>
                            <if condition='$k neq 0'>
                                /
                            </if>
                            <a href="/order/index/like/nj/{$cate1}/xk/{$vo['id']}">{$vo['x_ke']}</a>  
                        </foreach>
                    </div>
                    <div class="video_con">
                        <div class="video_btn pre"></div>
                        <div class="video_btn next"></div>
                        <div class="video_wrap" id="scroll">
                            <ul>
                                <foreach name='kearr' item='vo'>
                                    <li>
                                        <a href="http://wk.canpoint.net/video/v/{$vo.keid}.html">
                                            <img src="{$vo['image']}" />
                                            <span>{$vo.title}</span>
                                        </a>
                                        <p class="ptop"><strong>年级 : {$vo['nj']} </strong><span>学科 : {$vo['xk']}</span></p>
                                        <p class="pbottom"><strong>观看：<em>{$vo['ke_click']}</em>次</strong> <span>￥{$vo['x_price']}</span></p>
                                    </li>
                                </foreach>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 底部信息 -->
        <div class="clear"></div>
    <include file="./Template/style1/ainc.foot.html"/>

    <!-- end底部信息 -->	
</body>
</html>