<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>订单列表_兑换中心_全品学堂</title>
	<meta name="keywords" content="全品学堂，全品问吧，中小学在线学习平台,全品，全品教学网,全品高考网,全品中考网"/>
    	<meta name="description" content="全品学堂是中小学数字化学习平台，产品有微课、直播课、全品问吧、学社、班嗨、动漫教室等，涵盖了小学三年级至高三年级的主要课程，是中国在线教育的生力军。-全品学堂"/>
	<link  type="text/css" rel="stylesheet" href="style_css/header.css" />
    <link  type="text/css" rel="stylesheet" href="style_css/login.css" />
    <link  type="text/css" rel="stylesheet" href="style_css/v4_pay.css" />
	<script type="text/javascript" src="style_js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="style_js/Validform v5.3.2.js"></script>
	<script type="text/javascript" src="style_js/login.js"></script>
	<script type="text/javascript" src="style_js/v4_pay.js"></script>
</head>
<body>
	<div id="cover"></div>
    <!-- HTML_TOP -->
	<!-- 顶部区域开始 -->

	<div class="position">
		<i class="cur_icon"></i>
		<span>财富中心</span> &gt;
        <span class="pos_small">我的订单</span>
	</div>
	<div id="container">
          <div class="pay_left_side">
                <div class="user_info">
                    <a target="_blank" href="http://{$u_guid}.u.canpoint.net">
                        <img src="{$u_user_img}">
                        <span>{$u_nick_name}</span>
                    </a>
                    <p>每天都是新开始，微笑加油哦！</p>
                </div>
                <ul>
                    <li><a href="/money/index/index" class="pay"><i class="pay_icon"></i>我的财富 <i class="arrow"></i></a></li>
                    <li><a href="/order/index/index" class="order crt_pay"><i class="pay_icon"></i>我的订单<i class="arrow"></i></a></li>
                    <li><a href="/payment/recharge/online" class="recharge"><i class="pay_icon"></i>财富充值<i class="arrow"></i></a></li>
                    <li><a href="/change/index/index" class="exchange"><i class="pay_icon"></i>财富兑换<i class="arrow"></i></a></li>
                    <li><a href="/cash/index/index" class="coupons"><i class="pay_icon"></i>我的优惠券<i class="arrow"></i></a></li>
                </ul>
            </div>
       	<div class="pay_right_side">
       		<div class="order_lst">
       			<h2 class="order_tt">订单列表</h2>
       			<div class="order_status">
       				<div class="order_status_r">
       					<form action="" method="post">
       						<input type="text" name="number" class="ipt sch_ipt" placeholder="订单编号/商品名字">
       						<input type="submit" value=" " class="sch_btn">
       					</form>
       				</div>
       			</div>
       			<div class="order_tab">
       				<a href="">微课</a>
       				<a href="/order/goods/index/" class="crt">兑换中心</a>
       			</div>
				<div class="pay_tb exchange_tb">
       				<table>
       					<thead>
       						<tr>
       							<th width="143">订单编号</th>
       							<th width="155">商品名称</th>
       							<th width="115">金额（元）</th>
       							<th width="150">兑换时间</th>
       							<th width="230">收件人</th>
       							<th>
       								<select name="buytime" class="fm_sel time_sel">
       									<option value="http://pay.canpoint.net" checked="checked">全部状态</option>
       									<option value="http://pay.canpoint.net">已发货</option>
       									<option value="http://pay.canpoint.net">未发货</option>
       								</select>
       							</th>
       						</tr>
       					</thead>
       					<tbody>
       						<tr>
       							<td>cp0000104360</td>
       							<td>数轴上两点间的距离与</td>
       							<td>6000000全品豆</td>
       							<td><span class="buytime" >2015-03-27 09:23:54</span></td>
       							<td>
       								<p class="info"><label>收件人：张三风 </label>电话：15612345968</p>
       								<p class="info">地址：北京市海淀区长春桥路11号万柳亿城中心c1座12B</p>
       							</td>
       							<td>已发货</td>
       						</tr>
       						<tr>
       							<td>cp0000104360</td>
       							<td>数轴上两点间的距离与</td>
       							<td>6000000全品豆</td>
       							<td><span class="buytime" >2015-03-27 09:23:54</span></td>
       							<td>
       								<p class="info"><label>收件人：张三风 </label>电话：15612345968</p>
       								<p class="info">地址：北京市海淀区长春桥路11号万柳亿城中心c1座12B</p>
       							</td>
       							<td>未发货</td>
       						</tr>
       						<tr>
       							<td>cp0000104360</td>
       							<td>数轴上两点间的距离与</td>
       							<td>6000000全品豆</td>
       							<td><span class="buytime" >2015-03-27 09:23:54</span></td>
       							<td>
       								<p class="info"><label>收件人：张三风 </label>电话：15612345968</p>
       								<p class="info">地址：北京市海淀区长春桥路11号万柳亿城中心c1座12B</p>
       							</td>
       							<td>已发货</td>
       						</tr>
       						<tr>
       							<td>cp0000104360</td>
       							<td>数轴上两点间的距离与</td>
       							<td>6000000全品豆</td>
       							<td><span class="buytime" >2015-03-27 09:23:54</span></td>
       							<td>
       								<p class="info"><label>收件人：张三风 </label>电话：15612345968</p>
       								<p class="info">地址：北京市海淀区长春桥路11号万柳亿城中心c1座12B</p>
       							</td>
       							<td>未发货</td>
       						</tr>
       					</tbody>
       				</table>
       				<div class="page" style="margin-bottom:10px;">
	                	<div class="pagelist">
							<a href="#">上一页</a>
							<a href="#" class="active">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">下一页</a>
						</div>
						<!-- 无记录时的状态 -->
						<!-- <div class="noresult">
							<img src="style_img/v4_img/noresult.png">
							<p>暂无记录</p>
						</div> -->
	                </div>
       			</div>
       		</div>
       	</div>
    </div>
	<!-- 底部信息 -->
	<div class="clear"></div>
    <include file="./Template/style1/ainc.foot.html"/>
	<div class="footer">
		<div class="navigation">
			<div class="navtion_a">
				<a href="#">关于我们</a>
				<a href="#">联系我们</a>
				<a href="#">服务协议</a>
				<a href="#">留言板</a>
				<a href="#" style="border-width:0;">全品教学网</a>
			</div>
		</div>
		<div class="copyright">
			<div class="champoin">
	            <p>Copyright &copy; 2010-2014北京全品文化发展有限公司canpoint.net. All rights reserved. 京ICP备10032573号-9</p>	
	        </div>
		</div>
	</div>
	<!-- end底部信息 -->	
</body>
</html>