<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>学习卡充值成功_财富充值_全品学堂</title>
        <meta name="keywords" content="全品学堂，全品问吧，中小学在线学习平台,全品，全品教学网,全品高考网,全品中考网"/>
    	<meta name="description" content="全品学堂是中小学数字化学习平台，产品有微课、直播课、全品问吧、学社、班嗨、动漫教室等，涵盖了小学三年级至高三年级的主要课程，是中国在线教育的生力军。-全品学堂"/>
        <link  type="text/css" rel="stylesheet" href="style_css/v4_pay.css" />
        <script type="text/javascript" src="http://e.canpoint.net/style_js/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="http://e.canpoint.net/style_js/Validform v5.3.2.js"></script>
        <script type="text/javascript" src="style_js/v4_pay.js"></script>
    </head>
    <body>
        <!-- 遮罩层开始 -->
        <div id="cover"></div>
        <!-- 遮罩层结束 -->

        <!-- 顶部区域开始 -->
        <!-- HTML_TOP -->
        <div class="position">
            <i class="cur_icon"></i>
            <span>财富中心</span> &gt;
            <span class="pos_small">财富充值</span>
        </div>
        <div id="container">
            <div class="pay_left_side">
               <div class="user_info">
                    <a target="_blank" href="http://{$u_guid}.u.canpoint.net">
                        <img src="{$avatar_file_url}">
                        <span>{$u_nick_name}</span>
                    </a>
                    <p>每天都是新开始，微笑加油哦！</p>
                </div>
                <ul>
                    <li><a href="/money/index/index" class="pay"><i class="pay_icon"></i>我的财富 <i class="arrow"></i></a></li>
                    <li><a href="/order/index/index" class="order"><i class="pay_icon"></i>我的订单<i class="arrow"></i></a></li>
                    <li><a href="/payment/recharge/online" class="recharge crt_pay"><i class="pay_icon"></i>财富充值<i class="arrow"></i></a></li>
                    <li><a href="/change/index/index" class="exchange"><i class="pay_icon"></i>财富兑换<i class="arrow"></i></a></li>
                    <li><a href="/cash/index/index" class="coupons"><i class="pay_icon"></i>我的优惠券<i class="arrow"></i></a></li>
                </ul>
            </div>
            <div class="pay_right_side">
                <h2 class="recharge_tt">财富充值</h2>
                <div class="recharge_tab">
                    <a class="tab_btn" href="">在线充值</a>
                    <strong>|</strong>
                    <a class="tab_btn crt" href="/payment/recharge/card">学习卡充值</a>
                    <a href="/payment/index/index">查看充值记录</a>
                    <div class="line" style="left:110px;"></div>
                </div>
                <div class="recharge_fm">
                    <div class="recharge_suc_l">
                        <i class="pay_icon"></i>
                    </div>
                    <div class="recharge_suc_r">
                        <p class="lst1">恭喜您，充值成功！</p>
                        <p class="lst2">充值卡号为：<span>{$card}</span></p>
                        <p class="lst3">此次充值金额：<strong>{$price}</strong>元，获得<if condition="$ka_type eq 1">全品币<else />全品券</if>：<strong>{$price}</strong>元</p>
                        <p class="lst4">目前您的<if condition="$ka_type eq 1">全品币<else />全品券</if>余额为： <strong>{$nowprice}</strong>元</p>
                        <p class="lst5"><a href="/payment/index/index">去查看充值记录</a></p>
                        <p class="lst6"><a href="/payment/recharge/card" class="btn">继续充值</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部信息 -->
        <div class="clear"></div>
    <include file="./Template/style1/ainc.foot.html"/>
    
    <!-- end底部信息 -->	
</body>
</html>