<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>结算失败_结算中心_全品学堂</title>
    <meta name="keywords" content="全品学堂，全品问吧，中小学在线学习平台,全品，全品教学网,全品高考网,全品中考网"/>
    <meta name="description" content="全品学堂是中小学数字化学习平台，产品有微课、直播课、全品问吧、学社、班嗨、动漫教室等，涵盖了小学三年级至高三年级的主要课程，是中国在线教育的生力军。-全品学堂"/>
    <link type="text/css" rel="stylesheet" href="style_css/v4_pay2.css" />
    <script type="text/javascript" src="style_js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="style_js/Validform v5.3.2.js"></script>
    <script type="text/javascript" src="style_js/v4_pay.js"></script>
</head>
<body>
<div id="cover"></div>
<!-- HTML_TOP -->
<!-- 顶部区域开始 -->
<div class="position">
    <i class="cur_icon"></i>
    <span>财富中心</span> &gt;
    <span class="pos_small">结算中心</span>
</div>
<div id="container">
    <div class="fail">
        <p class="fail_tip"><i class="fail_icon"></i>很遗憾，支付不成功！</p>
        <div class="order_det">
            <p>订单号：<strong>{$data['order']['order_sn']}</strong></p>
            <p>金额：<strong>{$data['order']['goods_amount']}</strong>元</p>
            <p>发货时间：<strong>无</strong></p>
        </div>
        <div class="achieve_od">完成订单后您可以：<a href="/shop/buy/pay/id/{$data['order']['id']}" class="btn_pay">继续支付</a>
        </div>
    </div>
</div>
<!-- 底部信息 -->
<div class="clear"></div>
<include file="./Template/style1/ainc.foot.html" />
<!-- end底部信息 -->
</body>
</html>