<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>完成支付_结算中心_全品学堂</title>
        <meta name="description" content="全品学堂" />
        <meta name="keywords" content="全品学堂" />
        <link  type="text/css" rel="stylesheet" href="style_css/v4_pay.css" />
        <script type="text/javascript" src="http://e.canpoint.net/style_js/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="http://e.canpoint.net/style_js/Validform v5.3.2.js"></script>
        <script type="text/javascript" src="style_js/v4_scroll.js"></script>
        <script type="text/javascript" src="style_js/v4_pay.js"></script>
        <script type="text/javascript">
            var scrollNum = 5;
        </script>
    </head>
    <body>
        <!-- 遮罩层开始 -->
        <div id="cover"></div>
        <!-- 遮罩层结束 -->

        <!-- 顶部区域开始 -->
        <!-- HTML_TOP -->

        <div class="position pos_car">
            <i class="cur_icon pay_icon"></i>
            <span>结算中心</span>
            <div class="pos_car_r">
                <!-- <strong>我的购物车 </strong> -->
                <strong>余额支付  </strong>
                <strong class="crt">完成支付</strong>
            </div>
        </div>
        <div id="container">
            <div class="main">
                <form action="" method="post">
                    <div class="fm_suc">
                        <div class="fm_suc_top">
                            <i class="pay_icon"></i>
                            <h4>恭喜您，支付完成！</h4>
                            <p>订单号：<strong>{$card}</strong> <a href="/order/index/detail?id={$orderid}">详情</a></p>
                        </div>
                        <div class="fm_suc_bottom">
                            <a href="http://my.canpoint.net/userv2/course/inbuyclass"> >>去学习</a>
                            <a href="http://wk.canpoint.net"> >>继续购课</a>
                            <a href="/order/index/index" style="margin:0px"> >>查看订单列表</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 底部信息 -->
        <div class="clear"></div>
    <include file="./Template/style1/ainc.foot.html"/>
    
    <!-- end底部信息 -->	
</body>
</html>