<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>微信支付_财富中心_全品学堂</title>
	<meta name="keywords" content="全品学堂，全品问吧，中小学在线学习平台,全品，全品教学网,全品高考网,全品中考网"/>
    <meta name="description" content="全品学堂是中小学数字化学习平台，产品有微课、直播课、全品问吧、学社、班嗨、动漫教室等，涵盖了小学三年级至高三年级的主要课程，是中国在线教育的生力军。-全品学堂"/>
	<link  type="text/css" rel="stylesheet" href="style_css/header.css" />
    <link  type="text/css" rel="stylesheet" href="style_css/v4_pay.css" />
	<script type="text/javascript" src="style_js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="style_js/Validform v5.3.2.js"></script>
	<script type="text/javascript" src="style_js/v4_pay.js"></script>
</head>
<body>
	<div id="cover"></div>
	<!-- 顶部区域开始 -->
	<!-- HTML_TOP -->
	<div class="position">
		<i class="cur_icon"></i>
		<span>财富中心</span> &gt;
		<span class="pos_small">微信支付</span>
	</div>
	<div id="container">
       <div class="wx_wrap">
       		<div class="wx_info">
       			<p class="info_lst1">请您及时付款，以便交易顺利进行！订单编号：PO0000008089  <span class="recharge_sum">支付金额：<strong>459.00</strong>元</span></p>
       			<p class="info_lst2">支付过程中，请勿关闭当前页面，以免支付出现错误。</p>
       		</div>
       		<div class="wx_pay">
       			<h2 class="wx_pay_tt">微信支付</h2>
       			<img src="style_img/v4_img/pay11.jpg" class="wx_qrcode"/>
       			<div class="wx_icon"></div>
       			<div class="wx_richscan"></div>
       		</div>
       </div>
    </div>
	<!-- 底部信息 -->
	<div class="clear"></div>
	<include file="./Template/style1/ainc.foot.html"/>
	<div class="footer">
		<div class="navigation">
			<div class="navtion_a">
				<a href="#">关于我们</a>
				<a href="#">联系我们</a>
				<a href="#">服务协议</a>
				<a href="#">留言板</a>
				<a href="#" style="border-width:0;">全品教学网</a>
			</div>
		</div>
		<div class="copyright">
			<div class="champoin">
	            <p>Copyright &copy; 2010-2014北京全品文化发展有限公司canpoint.net. All rights reserved. 京ICP备10032573号-9</p>	
	        </div>
		</div>
	</div>
	<!-- end底部信息 -->	
</body>
</html>