<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>订单详情_我的订单_全品学堂</title>
	<meta name="keywords" content="全品学堂，全品问吧，中小学在线学习平台,全品，全品教学网,全品高考网,全品中考网"/>
  <meta name="description" content="全品学堂是中小学数字化学习平台，产品有微课、直播课、全品问吧、学社、班嗨、动漫教室等，涵盖了小学三年级至高三年级的主要课程，是中国在线教育的生力军。-全品学堂"/>
	<link  type="text/css" rel="stylesheet" href="style_css/header.css" />
  <link  type="text/css" rel="stylesheet" href="style_css/login.css" />
  <link  type="text/css" rel="stylesheet" href="style_css/v4_pay2.css" />
	<script type="text/javascript" src="style_js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="style_js/Validform v5.3.2.js"></script>
	<script type="text/javascript" src="style_js/login.js"></script>
	<script type="text/javascript" src="style_js/v4_scroll.js"></script>
	<script type="text/javascript" src="style_js/v4_pay.js"></script>
	<script type="text/javascript">
		var scrollNum = 5;
	</script>
</head>
<body>
	<div id="cover"></div>
    <!-- HTML_TOP -->
	<!-- 顶部区域开始 -->
	<div class="position">
		<i class="cur_icon"></i>
		<span>财富中心</span> &gt;
        <span class="pos_small">我的订单</span> &gt;
        <span class="pos_small">订单详情</span>
	</div>
	<div id="container">
		<div class="main">
			<div class="order_top">
       			<h2></i>订单详情</h2>
       			<div class="details">
       				<p>订单号：<strong>cp0000104360</strong></p>
	       			<p>完成状态：<!-- <span>已完成</span><em>已取消</em> --><strong>未付款</strong><a href="" class="btn">去付款</a></p>
       			</div>
       		</div>
       		<div class="users_info">
       			<h2>收货人信息</h2>
       			<div class="user_ads">
       				<p>收货人：<strong>王万亮</strong></p>
       				<p>手机号码：<strong>177****1562</strong></p>
       				<p>收货地址：<strong>北京市海鲜区长春桥路万柳亿城中心c1座12B</strong></p>
       			</div>
       		</div>
       		<div class="status">
       			<h2>发货状态</h2>
       			<p>尚未发货</p>
       		</div>
       		<div class="pay_tb order_tb">
       			<h2>商品清单</h2>
   				<table>
   					<thead>
   						<tr>
   							<th width="445" class="th1">名称</th>
   							<th width="230">学科</th>
   							<th width="230">数量</th>
   							<th width="230">价钱（元）</th>
   						</tr>
   					</thead>
   					<tbody>
   						<tr>
   							<td><a href="" class="video_link"><img src="style_img/v4_img/pay1.jpg" width="80" height="60">数轴上两点间的距离与点表示的数之间的关系</a></td>
   							<td>数学</td>
   							<td>×1</td>
   							<td>1180.00</td>
   						</tr>
   						<tr>
   							<td><a href="" class="video_link"><img src="style_img/v4_img/pay1.jpg" width="80" height="60">数轴上两点间的距离与点表示的数之间的关系</a></td>
   							<td>语文</td>
   							<td>×1</td>
   							<td>1180.00</td>
   						</tr>
   						<tr>
   							<td><a href="" class="video_link"><img src="style_img/v4_img/pay1.jpg" width="80" height="60">数轴上两点间的距离与点表示的数之间的关系</a></td>
   							<td>物理</td>
   							<td>×1</td>
   							<td>1180.00</td>
   						</tr>
   						<tr>
   							<td><a href="" class="video_link"><img src="style_img/v4_img/pay1.jpg" width="80" height="60">数轴上两点间的距离与点表示的数之间的关系</a></td>
   							<td>化学</td>
   							<td>×1</td>
   							<td>1180.00</td>
   						</tr>
   						<tr>
   							<td><a href="" class="video_link"><img src="style_img/v4_img/pay1.jpg" width="80" height="60">数轴上两点间的距离与点表示的数之间的关系</a></td>
   							<td>生物</td>
   							<td>×1</td>
   							<td>1180.00</td>
   						</tr>
   					</tbody>
   				</table>
   				<div class="page" style="margin-bottom:10px;">
                	<div class="pagelist">
						<a href="#">上一页</a>
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">下一页</a>
					</div>
					<!-- 无记录时的状态 -->
					<!-- <div class="noresult">
						<img src="style_img/v4_img/noresult.png">
						<p>暂无记录</p>
					</div> -->
                </div>
   			</div>
		</div>
    </div>
	<!-- 底部信息 -->
	<div class="clear"></div>
    <include file="./Template/style1/ainc.foot.html"/>
	<!-- end底部信息 -->	
</body>
</html>